@model FR_System.Models.BookingViewModel

@{
    ViewData["Title"] = "Book Flight";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div id="page-wrapper">
			<div class="main-page">
				<h2 class="title1">Your Ticket Details</h2>
				<div class="blank-page widget-shadow scroll" id="style-2 div1">
                    <h4 style="margin-bottom:2rem;">Your booking is confirmed ...Please proceed to Payment Section to make Payment.</h4>
<form >
        <div class="border p-3">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <label asp-for="flights.FlightId" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" disabled class="form-control" asp-for="flights.FlightId">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="flights.FlightFrom" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" disabled class="form-control" asp-for="flights.FlightFrom">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="flights.FlightTo" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" disabled class="form-control" asp-for="flights.FlightTo" >
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="flights.FlightDDate" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="flights.FlightDDate" disabled type="date" class="form-control">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="flights.DTime" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input asp-for="flights.DTime" disabled placeholder="Select date" type="time" class="form-control">
                        </div>
                    </div>
                  <div class="form-group row">
                        <label asp-for="flights.Price" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input type="text" disabled class="form-control" asp-for="flights.Price" placeholder="Price">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Travellers" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" disabled asp-for="Travellers" placeholder="No. of Travellers">
   
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Totalprice" class="col-sm-2 col-form-label"></label>
                        <div class="col-sm-10">
                            <input class="form-control" disabled asp-for="Totalprice" placeholder="Total Payable Amount">
   
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offset-2 row">
                            <div class="col">
                                <a class="btn btn-success w-75" asp-action="BookingDetails" asp-controller="Reservation">See Your Booking Status</a>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
        
        
</form>
</div>
</div>
</div>
