@model FR_System.Models.Admin

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

		<div id="page-wrapper">
			<div class="main-page">
				<h2 class="title1">Welcome To Admin Dashboard</h2>
				<div class="blank-page widget-shadow scroll" id="style-2 div1">
					<p>You can add ,modify,delete and see details of plane.</p>
					<p>You can add,modeify,delete and see details of flights</p>
					<p>You can view users details</p>
				</div>
			</div>
		</div>
   



