@{
    ViewData["Title"] = "Home Page";
}
<div class="container py-4 py-xl-5">
<div class="row gy-4 gy-md-0">
<div class="col-md-6 text-center text-md-start d-flex d-sm-flex d-md-flex justify-content-center align-items-center justify-content-md-start align-items-md-center justify-content-xl-center">
<div style="max-width: 350px;">
<h2 class="text-uppercase fw-bold">
<br />
Enjoy the best feeling in the world.
<br />
</h2>
<p class="my-3">
<br />
Book a flight with us. Feel the best flight booking experience for your work/tours
<br />
<br />
</p>
<a class="btn btn-primary btn-lg me-2" role="button" href="#">Button</a>
<a class="btn btn-outline-primary btn-lg" role="button" href="#">Button</a>
</div>
</div>
<div class="col-md-6">
<div class="p-xl-5 m-xl-5">
<img class="rounded img-fluid w-100 git-cover" style="min-height: 300px;" src="~/web/images/Aeroplane.jpg" alt="Aeroplane" />
</div>
</div>

</div>
</div>
    

<h1>Why book on Flight Reservation System?</h1>
<p>Flight Reservation System is centered on making travel simple and has been designed to let you look for cheap flights or complete your flight booking in just a few clicks. The booking experience is seamless and fast with our features like Expressway – which allows for easy checkout, Shortlist – this lets you compare multiple itineraries across dates, Fare alert – here we inform you of price drops or hikes, and even EMI options for expensive air tickets. Our round-the-clock customer service ensures all your queries and concerns are addressed efficiently and resolved.</p>
<h1>How to search for flights?</h1>
<p>Our search is designed on the principle of best flight discovery and is very easy to use.</p>
<ul>
    <li>Enter from and to city/airport</li>
    <li>Select the date of travel</li>
    <li>Choose the number of travelers and hit enter</li>
</ul>
<p>You’ll be directed to a search list of all the flights available with the cheapest ones on the top. You can further filter your search by choosing preferences and filters like time, duration, number of stops, and by airlines or even look for other dates by just clicking on the calendar visible on the right side of the page.</p>
<h1>What’s more?</h1>
<p>Flight ticket booking or planning your travel is made simpler with our round trip and multicity options. When you hit enter, your search list page shows the results for both onward and return in a split screen format letting you choose flights in one go for a round trip. The multicity search page shows a list of complete itineraries that removes the hassle of you calculating time, transfers and layovers letting you finish your online flight booking. To ensure you get the best price we highlight offers, sales and other promotions on the checkout page. Post booking, our portal allows for easy cancellations or amendments without having to make calls to the airlines.

</p>


