
@{
    ViewData["Title"] = "Search Flights";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search Flights</title>
   <!-- Icons font CSS-->
    <link href="~/search/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="~/search/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="~/search/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="~/search/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="~/search/css/main.css" rel="stylesheet" media="all">
</head>

<body>
    <div class="page-wrapper bg-img-1 p-t-200 p-b-120">
        <div class="wrapper wrapper--w900">
            <div class="card card-4">
                <div class="card-body">
                    <ul class="tab-list">
                        <li class="tab-list__item active">
                            <a class="tab-list__link active" href="#tab3" data-toggle="tab">Search flight</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab3">
                            <form asp-action="Searchpost" >
                                <div class="input-group input-group-big">
                                    <label class="label">origin:</label>
                                    <datalist id="rcity">
                                        @foreach(var item in @ViewBag.dcity){
                                             <option>@item</option>
                                        }
                                    </datalist>
                                    <input class="input--style-1" type="text" name="cityfrom" placeholder="City or airport" required="required" list="rcity">
                                </div>
                                <div class="input-group input-group-big">
                                    <label class="label">destination:</label>
                                    <datalist id="acity">
                                        @foreach(var item in @ViewBag.acity){
                                             <option>@item</option>
                                        }
                                    </datalist>
                                    <input class="input--style-1" type="text" name="cityto" placeholder="City or airport" required="required"  list="acity">
             
                                </div>
                                <div class="input-group input-group-big">
                                   
                                            <label class="label">Departure Date:</label>
                                            <input class="input--style-1" id="input-start-2 form-control" name="date1" placeholder="Select date" type="date">
                                            
                                </div>
                                <button class="btn-submit m-t-35" type="submit">search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-danger w-20" asp-action="Index" asp-controller="Home">Back</a>
    </div>

    <!-- Jquery JS-->
    <script src="~/search/vendor/jquery/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="~/search/vendor/select2/select2.min.js"></script>
    <script src="~/search/vendor/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/search/vendor/bootstrap-wizard/bootstrap.min.js"></script>
    <script src="~/search/vendor/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="~/search/vendor/datepicker/moment.min.js"></script>
    <script src="~/search/vendor/datepicker/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="~/search/js/global.js"></script>

</body>

</html>
<!-- end document-->

